<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<nav id="topnav">
   <div class="menu-icon">
      <span class="fas fa-bars"></span>
   </div>
   <div class="logo">
      Task Manager
   </div>
   <div class="nav-items">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/task">Tasks</a></li>
   </div>
   <div class="search-icon">
      <span class="fas fa-search"></span>
   </div>
   <div class="cancel-icon">
      <span class="fas fa-times"></span>
   </div>
   <form action="#">
      <input type="search" class="search-data" placeholder="Search" required>
      <button type="submit" class="fas fa-search"></button>
   </form>
</nav>
<section id="wrapper">
   <router-outlet></router-outlet>
</section>